<!--The content below is only a placeholder and can be replaced.-->
<div id="wrapper">
  <div id="header">
    <div id="logo">
      <h1>
        <a href="#">{{nombreTienda}}</a>
      </h1>
      <p>
        <a>Tu tienda online</a>
      </p>
    </div>
  </div>

  <div id="page">
 
    <div id="page-bgtop">
      <div class="inner_copy"></div>
      <div id="page-bgbtm">
        <div id="content">
          <div class="post">
            <h2 class="title"><a href="#">Bienvenidos a {{nombreTienda}}</a></h2>
            <div style="clear:both">&nbsp;</div>
            <div class="entry">
              <p>TechStore en su inauguracion trae increibles promociones para todos sus clientes! en equipos de alta gama o de ultima generacion, con precios bajos y formas de pago
                que harán de comprar online una forma facil y rapida.</p>
                <p>
                  A continuacion elige uno de los ultimos productos en el mercado de sistemas de seguridad: 
                </p>
         
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>